section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

#testimonials .client-logo {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    margin-bottom: 1em;
    width: 46%;
    @media(min-width: 400px) { width: 30% }
    @media(min-width: 700px) { width: 12% }
    filter: grayscale(100);

    &:hover {
      filter: grayscale(0);
      transition: filter 0.3s;
    }
  }
}

#interests .paintings {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    @media(min-width: 600px) { width: 32% };
    max-width: 100%;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #dedede;
    margin-bottom: 1em;
  }
}