/*** GENERAL ***/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  min-width: 280px;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0 0.1em 0;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5em 0 1rem 0;
  font-weight: normal;
}

h3 {
  font-size: 1.3em;
  margin: 0.5em 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 1rem 0;
}
/*** LAYOUT ***/
header,
footer {
  padding: 1em;
}

section {
  padding: 0.5em 1em 3em 1em;
}

div.content {
  max-width: 960px;
  margin: 0 auto;
}

/*** HEADER ***/
header {
  text-align: center;
}

header .avatar {
  display: inline-block;
  width: 7em;
  height: 7em;
  border-radius: 3.5em;
}

header h1 {
  display: inline-block;
  margin-left: 1.5rem;
}

header .play {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('files/play.png');
  background-size: cover;
  opacity: 0.7;
}

header .play:hover {
  opacity: 1;
  cursor: pointer;
}

header .nickname,
header .email {
  font-size: 1.2rem;
  font-style: italic;
}

#email {
  border-bottom: 1px dashed black;
}

#email:hover {
  cursor: pointer;
}

@media (min-width: 380px) {
  header {
    text-align: initial;
  }
  header .avatar {
    margin-right: 2em;
    float: left;
  }
  header .info {
    float: left;
  }
  header h1 {
    margin-left: 0;
  }
}

/*** NAVIGATION ***/
nav ul li {
  float: left;
  width: 50%;
}

@media (min-width: 400px) {
  nav ul li {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 520px) {
  nav ul li {
    float: left;
    width: 25%;
  }
  nav ul li:nth-last-child(-n+2) {
    width: 50%;
  }
}

@media (min-width: 600px) {
  nav ul li {
    float: left;
    width: auto !important;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li a {
  width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 1em;
  margin: 0;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
}
nav li a:hover {
  text-decoration: none;
}

/*** SECTION H2 HEADERS ***/
h2 {
  padding: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border-left: 0.3rem solid;
}

/*** LINKS ***/
#links section {
  padding: 0;
}

@media (min-width: 910px) {
  #links .content {
    text-align: justify;
  }
  #links section {
    text-align: initial;
    display: inline-block;
    vertical-align: top;
  }
}

/*** PROJECTS ***/
.project img {
  width: 14rem;
}

.project p {
  margin-top: 0.2rem;
}

div.project {
  margin-bottom: 3.5rem;
}

@media (min-width: 600px) {
  .project img {
    float: left;
    margin-right: 1.2em;
  }
}

/*** TESTIMONIALS ***/
div.testimonial {
  padding: 0.5em 1em 1.5em 1em;
  margin-bottom: 1rem;
  font-style: italic;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
}

@media (min-width: 900px) {
section.testimonials {
  text-align: justify;
}

div.testimonial {
  width: 45.7%;
  height: 13rem;
}

div.testimonial:nth-child(odd) {
  float: right;
}

div.testimonial:nth-child(even) {
  float: left;
}

}

#testimonials div.more {
  clear: both;
  text-align: right;
  font-style: italic;
}

#testimonials h2 {
  margin-bottom: 1rem;
}

/*** FORMS ***/
input,
textarea {
  font-size: 1.3rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  margin: 0 0 1rem 0;
  border: 1px solid;
  width: 100%;
  max-width: 100%;
  outline: none;
}

input[type=checkbox] {
  width: 1.375rem;
  height: 1.375rem;
  display: inline-block;
  margin: 0 0.3rem 1rem 0;
}

label.checkbox {
  vertical-align: top;
}

input[type=submit] {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: none;
  -webkit-transition: background 0.3s; /* Safari */
  transition: background 0.3s;
}

input[type=submit]:hover {
  cursor: pointer;
}

textarea {
  height: 15rem;
}

label {
  font-style: italic;
}

/*** NOTIFICATION ON EMAIL BEIND SENDED ***/
#emailsent h2 {
  padding: 0;
  border: none;
  text-transform: none;
  letter-spacing: normal;
  background: initial;
}

#emailsent p {
  text-shadow: none;
}

#emailsent a {
  text-decoration: underline;
}

/*** FOOTER ***/
footer {
  clear: both;
  text-align: center;
  font-style: italic;
  padding: 2rem 0;
}

/*** OTHER ***/
.totop {
  display: inline-block;
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url('files/totop.png');
  background-size: cover;
  opacity: 0.7;
  float: right;
}

.totop:hover {
  opacity: 1;
  cursor: pointer;
}
  
img {
  max-width: 100%;
  height: auto;
}

.clearfix {
  clear: both;
}

.justify {
  display: inline-block;
  width: 100%;
}

/*** COLOR SCHEME ***/
body { color: #313131; }
body { background: #f3f3f3; }
a { color: #1a66b1; }
a:hover { color: #1a66b1; }
nav a { color: #ffffff; }
nav a:hover { color: #ffffff; }
nav a:hover { background: #344b61; }
header { background: #eaeaea; }
nav { background: #627f9c; }
h2 { color: #4e4a40; }
h2 { background: #f5de9f; }
h2 { border-color: #d6a521; }
section { text-shadow: 1px 1px 0 #fbfbfb; }
section h2, section h3 { text-shadow: none; }
/*
.about, #about { background: #f5f0d0; }
.links, #links { background: #d8e9ef; }
.projects, #projects { background: #ece1ec; }
.opensource, #opensource { background: #ece0a6; }
.testimonials, #testimonials { background: #d5e1ef; }
*/
.testimonial { color: #ffffff; }
.testimonial { background: #52708c; }
.testimonial:hover { background: #415b73; }
.testimonial p { text-shadow: none; }
/*
.contact, #contact, #emailsent { background: #d27878; }
*/
#emailsent.ok { background: #83bd82; }
#emailsent.error { background: #d27878; }
#emailsent h2 { color: #ffffff; }
#emailsent { color: #ffffff; }
#emailsent a { color: #ffffff; }
.asterisk { color: #5f1515; }
input, textarea { background: #ffffff; }
input[type=text], input[type=email], input[type=checkbox], textarea { border-color: #bfb5b5; }
input[type=text]:focus, input[type=email]:focus, input[type=checkbox]:focus, textarea:focus { border-color: #8fa7bb; }
/*
#contact input:focus, #contact textarea:focus { background: #ffffff; }
*/
input[type=submit] { color: #ffffff; }
input[type=submit] { background: #52748c; }
input[type=submit]:hover { background: #2d4d63; }
footer { background: #486767; }
footer a { color: #313131; }
footer a:hover { color: #313131; }